# Environments
.env
.env.*
.venv/
venv/
env/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# IDEs
.vscode/
.idea/

# Large Data & ML Models (Uncomment to prevent uploading large files)
# *.csv
# *.pkl